<section class="form-fields">
  <%= form_with(model: link) do |form| %>
    <% if link.errors.any? %>
      <div class="col error-messages">
        <ul>
          <% link.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="row field">
      <div class="col"><%= form.label :title, style: "display: block" %></div>
      <div class="col"><%= form.text_field :title %></div>
    </div>

    <div class="row field">
      <div class="col"><%= form.label :url, style: "display: block" %></div>
      <div class="col"><%= form.text_field :url %></div>
    </div>
    <div class="row actions">
      <div class="col"></div>
      <div class="col"><%= form.submit %></div>
    </div>
  <% end %>
</section>